.header{
    background-color:#FFF8F3;
    background-image:url(../portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right 0px;
}
span{
    margin-bottom: 0%;

}

nav li{
    list-style: none;
    margin-right: 51px;
    
}

nav h2{
    margin-left: 226px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #474747;
}
nav button{
    background-color: #FD6E0A;
    border: 5px solid #FD6E0A;
    width: 150px;
    height: 64px;
    top: 50px;
    left: 1220px;
    border-radius: 5px;
    color: azure;
    text padding: 2px;
    
}
.s1{
    color: #FD6E0A;

}
.h1{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    letter-spacing: 0em;
    text-align: left;

    font-family: Manrope;
    font-size: 45px;
    font-weight: 800;
    
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
.banner{
     margin-left: 230px;
     display: flex;
}
.caption{
    font-family: Open Sans;
    margin: bottom 0px;
    letter-spacing: 0em;
    text-align: left;
}
.title{
    font-family: Open Sans;
    font-size: 40px;
    margin-top: 0px;

letter-spacing: 0em;
text-align: left;
}
.p1{
    font-family: Open Sans;
    font-size: 18px;
    font-weight:300;
    line-height:30px;
    letter-spacing: 0em;
    text-align: left;
    
}
.button{
    width: 200px;
    height: 64px;
    top: 589px;
    left: 230px;
    border-radius:5px;
    background-color: #FD6E0A;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF8F3;
    border-color: #FD6E0A;
}
.button1{
    width: 160px;
    height: 64px;
    top: 589px;
    left: 460px;
    border-radius: 5px;
    border: 2px solid #FD6E0A;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 30px;
    
}

.banner  .pic{
    Width: 300px;
    align-items: center;
    
}

.main{
    text-align: center;
    padding-top: 209px;
    padding-bottom: 221px;
    padding-left: 155px;
    padding-right: 155px;
    max-width: 1140px;
    Height: 120px;
    background-color: #FFF8F3;
    align-items: center;
    margin: 130px 230px;
    
}


.heading2{
    text-align: center;
    color: #181818;
    Size:35px;
    padding top: 131px;
}

.about-inf-description{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
}

.what-i-do-discription{
 color: #757575;
 font-size: 18px;
 font-weight: 400;
 line-height: 30px;
 word-wrap: break-word;
 text-align: center;
 width: 909px;
 height: 90px;
 top: 1725px;
 margin-left: auto;
 margin-right: auto;
}

.skilled-container{
    display: flex;
    margin-left: 230px;
    margin-right: 230px;
    background-color: #FFF;
    gap: 24px;
    
}

.skilled{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}

.skilled-description{
    color: #757575;
}
